{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/app/style.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js" integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
</head>
<body>
{% if user.is_authorizeted %}

{% verbatim %}
    <div id="app">
        <div v-if="token">
            {{ lst }}
        </div>
        <div v-else>
            not authorizatied 401
        </div>
    </div>
{% endverbatim %}

{% else %}
{% include 'app/login.html' %}
{% endif %}

<script src="{% static 'js/app/app.js' %}"></script>
</body>
</html>