{% extends 'app/app.html' %}
{% load static %}
{% block content %}
<div id="app">
    <!-- current user id so to get its in app.js file -->
    {{ request.user.id|json_script:"user_id" }}
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            {{ user.username }}
        </a>
        <button type='' class="btn btn-link" @click="logout">logout</button>
    </nav>
    {% verbatim %}
    <div class="container">

        <div class="row">
            <div class="col-4">
                <!-- All events -->
                <div>Все события</div>
                <li v-for="x in all_events">
                    <a href="#" @click='get_event(x)'>{{ x.title }}</a>
                </li>
                <br>
                <!-- current user event -->
                <div>Мои события</div>
                <li v-for="x in user_events">
                    <a href="#" @click='get_event(x)'>{{ x.title }}</a>
                </li>
            </div>
            <!-- Name of chosen event -->
            <div v-if="show_detail_even_block" class="col">
                <div>
                    <h3>{{ detail_event.title }}</h3>
                    <p>{{ detail_event.body }}</p>
                    <p>{{ detail_event.created_at }}</p>
                </div>
                <div v-if="flag">
                    <h3>Участники</h3>
                    <div v-for="(x, index) in detail_event.participants">
                    <a href="#" @click="get_user_info(x)">{{ index + 1}} {{ x.first_name }} {{ x.last_name }}</a>
                    </div>
                    <br>
                    <button class="btn btn-primary" @click="participate_or_stop">{{ name_button }}</button>
                </div>
            </div>
            <!-- Info about user -->
            <div v-if="show_user_info" class="col" @click="close">
                <h3>Информация о пользователе</h3>
                <p>Логин: {{ user_info.username }}</p>
                <p>Имя: {{ user_info.first_name }}</p>
                <p>Фамилия: {{ user_info.last_name }}</p>
                <button class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
    {% endverbatim %}
</div>

{% endblock %}