{% extends 'app/app.html' %}
{% load static %}
{% block content %}
<div id="app" class="container-fluid">
    <!-- current user id so to get its in app.js file -->
    {{ request.user.id|json_script:"user_id" }}
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand my-brand" href="#">
            <img src="{% static 'i/logo.jpg' %}" width="35" height="35" class="d-inline-block align-top" alt="">
            {{ user.username }}
        </a>
        <button type='' class="btn btn-link" @click="logout">Выйти</button>
    </nav>
    {% verbatim %}
    <div class="container">
        <!-- Show events -->
        <div v-if="all_events.count > 0" class="row">
            <div class="col-4">
                <!-- All events -->
                <h5>Все события</h5>
                <li v-for="x in all_events.results">
                    <a href="#" @click='get_event(x)'>{{ x.title }}</a>
                </li>
                <button class="btn btn-link btn-block" @click="previous"><<</button><span>{{ current_page }}</span><button class="btn btn-link" @click="next">>></button>
                <br>
                <br>
                <!-- current user event -->
                <h5>Мои события</h5>
                <li v-for="x in user_events">
                    <a href="#" @click='get_event(x)'>{{ x.title }}</a>
                </li>
                <br>
                <button type="button" class="btn btn-primary w-100" @click="add_event">+</button>
            </div>
            {% endverbatim %}
            <!-- the block to create event -->
            {% include 'app/create_event.html' %}
            <!-- <div v-if="is_show_create_even_block" class="col">
                <div class="card p-3" style="width: 30rem;">
                    <p class="card-title text-center p-3 fs-3">Создать событие</p>
                    <li class="p-3 text-danger" v-for="(x, key) in errors">

                    </li>

                    <form>
                        <div class="form-group mb-3">
                            <input v-model="title"class="form-control" placeholder="Название событие">
                        </div>
                        <div class="form-floating mb-3">
                            <textarea v-model="body" type="body" class="form-control" id="floatingTextarea2"></textarea>
                              <label for="floatingTextarea2">Comments</label>
                        </div>
                        <button type="button" class="btn btn-primary" @click="create_event">Создать</button>
                        <button type="button" class="btn btn-outline-secondary" @click="cancel_create_event">Отменить</button>
                    </form>

                </div>
            </div> -->
            {% verbatim %}
            <!-- Name of chosen event -->
            <div v-if="show_detail_even_block" class="col">
                <div>
                    <h5>{{ detail_event.title }}</h5>
                    <p>{{ detail_event.body }}</p>
                    <p>Дата создания: {{ new Date( detail_event.created_at ).toLocaleDateString() }}</p>
                </div>
                <div v-if="flag">
                    <h5>Участники</h5>
                    <div v-for="(x, index) in detail_event.participants">
                    <a href="#" @click="get_user_info(x)">{{ index + 1}} {{ x.first_name }} {{ x.last_name }}</a>
                    </div>
                    <br>
                    <button class="btn btn-primary" @click="participate_or_stop">{{ name_button }}</button>
                    <span v-if="current_user_id === detail_event.creator">
                        <button @click="remove" class="btn btn-danger">Удалить событие</button>
                    </span>
                    <span v-else>
                        <button class="btn btn-danger disabled">Удалить событие</button>
                    </span>
                </div>
            </div>
            <!-- Info about user -->
            <div v-if="show_user_info" class="col" @click="close">
                <h5>Информация о пользователе</h5>
                <p>Логин: {{ user_info.username }}</p>
                <p>Имя: {{ user_info.first_name }}</p>
                <p>Фамилия: {{ user_info.last_name }}</p>
                <button class="btn btn-primary">Ok</button>
            </div>
        </div>
    {% endverbatim %}
        <!-- Say no events  -->
        <div v-else>
            <h3><center>Нет событий</center></h3>
            <button type='' class="btn btn-primary" @click="add_event">Создать событие!</button>
            {% include 'app/create_event.html' %}
        </div>
    </div>
</div>

{% endblock %}